#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Overlay */

/* How to Play Overlay */

/* Result Overlay */

#resultOverlay {
  margin: 10px;
}

#resultOverlay button {
  background-color: #4169e1;
  transition: filter 0.3s;
}

#resultOverlay button:hover {
  filter: drop-shadow(0 0 1em #4169e1);
  border-color: white;
  border-width: 1px;
}

/* Word Space */

/* Animation */
