#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wordSpace {
  display: flex;
  border-radius: 5px;
}

.wordDisplay {
  display: flex;
  border-radius: 5px;
  background-color: black;
}

.characterSpace {
  background-color: #1c1c1c;
  border-radius: 5px;
  padding: 5px;
  margin: 0.25em;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15em;
  user-select: none;
  font-family: monospace;
  font-weight: 900;
  font-size: 1.5em;
  transition: background-color 0.5s ease;
}

.highlight {
  background-color: #538d4e;
}

.shake {
  animation: shakeAround 0.5s ease-in-out;
}

.shakeRight {
  animation: shakeRight 0.5s ease-in-out;
}

.shakeWrong {
  animation: shakeWrong 0.5s ease-in-out;
}

.shakeUnknown {
  animation: shakeUnknown 0.5s ease-in-out;
}

@keyframes shakeAround {
  0% {
    transform: rotate(0deg) scale(1);
  }
  33% {
    transform: rotate(-25deg) scale(1.25);
  }
  66% {
    transform: rotate(25deg) scale(1.25);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes shakeRight {
  0% {
    transform: translateX(0);
    background-color: transparent;
  }
  33% {
    transform: translateX(-5px);
    background-color: #538d4e;
  }
  66% {
    transform: translateX(5px);
    background-color: #538d4e;
  }
  100% {
    transform: translateX(0);
    background-color: transparent;
  }
}

@keyframes shakeWrong {
  0% {
    transform: translateX(0);
    background-color: transparent;
  }
  33% {
    transform: translateX(-5px);
    background-color: yellow;
  }
  66% {
    transform: translateX(5px);
    background-color: yellow;
  }
  100% {
    transform: translateX(0);
    background-color: transparent;
  }
}

@keyframes shakeUnknown {
  0% {
    transform: translateX(0);
    background-color: transparent;
  }
  33% {
    transform: translateX(-5px);
    background-color: red;
  }
  66% {
    transform: translateX(5px);
    background-color: red;
  }
  100% {
    transform: translateX(0);
    background-color: transparent;
  }
}
